@{
    ViewData["Title"] = "Home Page";
}

<h1> The Joel Hilton Film Collection</h1>
<div >
<p>This is Joel</p>
    <img src="~/img/joelhiltonheadshot.jpg" height="500" />
</div>

<br/>
<div>
    <a asp-controller="Home" asp-action="GetToKnowJoel">Do you want to get to know Joel? Click here to find out more</a>
</div>

<br/>
<div>
    <a asp-controller="Home" asp-action="MovieForm">Enter Movies Into The Collection</a>
</div>

<div>
    <a asp-controller="Home" asp-action="WaitList">View Wait List</a>
</div>

